[database]
adapter  = Mysql
host     = localhost
username = xxxxxxxxx
password = xxxxxxxxx
dbname   = stealthgame

[application]
controllersDir = ../app/controllers/
modelsDir      = ../app/models/
migrationsDir  = ../app/migrations/
viewsDir       = ../app/views/
pluginsDir     = ../app/plugins/
libraryDir     = ../app/library/
cacheDir       = ../app/cache/
baseUri        = /StealthGame/

[models]
metadata.adapter = "Memory"
